<h3>Tabla de Clientes:</h3>

<mat-table [dataSource]="dataSource" class="mat-elevation-z8" #table>
  <ng-container matColumnDef="nombre">
    <mat-header-cell *matHeaderCellDef>Nombre</mat-header-cell>
    <mat-cell *matCellDef="let element">
      {{ element.nombre | titlecase }}
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="apellido">
    <mat-header-cell *matHeaderCellDef>Apellido</mat-header-cell>
    <mat-cell *matCellDef="let element">
      {{ element.apellido | titlecase }}
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="telefono">
    <mat-header-cell *matHeaderCellDef>Telefono</mat-header-cell>
    <mat-cell *matCellDef="let element"> {{ element.telefono }} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="direccion">
    <mat-header-cell *matHeaderCellDef>Direccion</mat-header-cell>
    <mat-cell *matCellDef="let element"> {{ element.direccion }} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="fechaDeNacimiento">
    <mat-header-cell *matHeaderCellDef>Fecha de Nacimiento</mat-header-cell>
    <mat-cell *matCellDef="let element">
      {{ element.fechaDeNacimiento }}
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="editar">
    <mat-header-cell *matHeaderCellDef>Editar</mat-header-cell>
    <mat-cell *matCellDef="let element">
      <button mat-mini-fab color="warn" (click)="editar(element)">
        <mat-icon>create</mat-icon>
      </button>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="asociarRutina">
    <mat-header-cell *matHeaderCellDef>Asociar Rutina</mat-header-cell>
    <mat-cell *matCellDef="let element">
      <button mat-mini-fab color="warn" (click)="asociarRutina(element)">
        <mat-icon>create</mat-icon>
      </button>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="listarRutina">
    <mat-header-cell *matHeaderCellDef>Listar Rutina</mat-header-cell>
    <mat-cell *matCellDef="let element">
      <button mat-mini-fab color="warn" (click)="listarRutina(element)">
        <mat-icon>create</mat-icon>
      </button>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
</mat-table>
